extends layout

block append head
    script(src="https://unpkg.com/simple-jekyll-search@1.5.0/dest/simple-jekyll-search.min.js")
    script.
        document.addEventListener("DOMContentLoaded", function () {
        var sjs = SimpleJekyllSearch({
        searchInput: document.getElementById('searchInput'),
        resultsContainer: document.getElementById('resultsContainer'),
        json: '/search.json'
        });
        document.getElementById('searchInput').focus();
        });

block content
    .search
        h1 search
        input#searchInput(type='text', placeholder='Search blog posts..')
        ul#resultsContainer
